@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

/* GLOBAL */
.h6 {
    color: #000000 !important;
    font-weight: bold;
}

p {
    font-size: 1rem;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    /*background: url("/img/pexels-junior-teixeira-2047905.jpg");*/
    height: 100%;
}



/* NAVIGATION SECTION */

.navbar {
    background-color: #1a191d;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
    width: 100%;
    max-width: auto;
    margin: auto;
}

.learn-more {
    margin-top: 50px;
}

.button-text a {
    color: #000000;

}


.navbar.active {
    position: fixed;
    top: -120px;
}

.navbar-toggler {
    transition: all 0.2s ease-in-out;
}

.navbar-toggler .fas {
    color: rgb(255, 255, 255);

}

.navbar-brand {
    transition: all 0.2s ease-in-out;
}


.navbar a,
.nav-item a {
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}


.navbar a:hover,
.navbar.active .nav-link:hover {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(245, 18, 18, 0.842), 0 0 25px rgba(245, 18, 18, 0.842), 0 0 50px rgba(245, 18, 18, 0.842), 0 0 200px rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
}

.navbar.active a {
    color: rgba(255, 255, 255, 0.842);
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-link a {
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.563rem;
    color: #ffffff;
    display: block;
    transition: all 0.2s ease-in-out;
}

.sidenav a:hover {
    color: rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
    font-weight: 600;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.25rem;
    margin-left: 50px;
    
}


.fa,
.fab {
    font-size: 1.25rem;
}

.text-white {
    margin-top: 100px;

}

/* NAVIGATION SECTION ENDS HERE */


/* Header content */



.btn {
    color: #000000;
    backdrop-filter: blur(15px);
    margin-top: 20px;
    transition: all 0.1s ease-in-out;
    border-width: 4px;
    
}





.fas {
    color: #ffffff;
}

.arrow-top .fas {
    position: fixed;
    display: inline-block;
    color: #000000;
    font-size: 0.95rem;
    backdrop-filter: blur(8px);
    padding: 15px;
    text-align: center;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    border-radius: 50%;
}

.arrow-top .fas:hover {
    color: #ffffff;
    background-color: #000000;
}


.arrow-top.pageUp .fas {
    animation-duration: 1s;
    animation-name: moveInRight;
    transition: all 0.2s ease-in-out;
}

#section07 a {
    /* padding-top: 80px; */
}

#section07 a span {

    position: absolute;
    text-align: center;
    width: 24px;
    height: 24px;
    border-left: 1px solid rgba(245, 18, 18, 0.842);
    border-bottom: 1px solid rgba(245, 18, 18, 0.842);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    margin-top: 150px;

}

#section07 a span:nth-of-type(1) {
    bottom: 110px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#section07 a span:nth-of-type(2) {
    bottom: 95px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

#section07 a span:nth-of-type(3) {
    bottom: 80px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* .navbar, */




/* SKILLS SECTION */


#skills-section {
    width: 95%;
    max-width: 1132px;
    margin: -150px auto;
    border-radius: 3rem;
    /*border-radius: 50px;*/
    background: url('/img/pexels-la-miko-3616773.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 2rem;
}

.skills h2 {
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
    padding-top: 25px;
}


.skills-flex {
    padding-top: 20px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 150px;

}




.list-group-item {
    background-color: transparent;
    border: thin solid transparent;
    font-weight: 600;
}


li {
    list-style-type: none;
}


/*.skills-list li  {
    margin: auto;
}*/



.skills-list li::before {
    content: "\2022 ";
    color: rgba(245, 18, 18, 0.842);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/* SKILLS SECTION ENDS HERE */




/* SERVICES SECTION */

.services {
    margin: 50px 0 250px 0;
    padding-top: 50px;
    position: relative;
    max-height: auto;
}

.services h2 {
    text-align: center;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}

.container-services {
    max-height: auto;
    text-align: center;
    padding-top: 50px;
}

.container-services .row {
    display: flex;
    gap: 10px;
    max-width: 1132px;
    margin: auto;
}

.container-services .fas {
    color: rgba(245, 18, 18, 0.842);
    font-size: 2.125rem;
}

.col-md {
    color: #000000;
    transition: all 0.1s ease-in-out;
    cursor: cell;
    padding: 15px;
}

.col-md h4 {
    margin-top: 10px;
}

.col-md h6 {
    font-size: 0.875rem;
}

.col-md:hover {
    transform: scale(0.96);
}


/* SERVICES SECTION ENDS HERE */






/* PROJECT SECTION */

/* Within style tags in your html file */

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.projects {
    margin: 250px auto 100px;
    text-align: center;
    max-width: 1132px;
}

.grid {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}


.project-title h2 {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;

}

.project-menu {
    padding-top: 50px;
    color: rgb(255, 255, 255);
    position: relative;
}

.col-md-4 {
    margin-top: 2rem;
}


.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-item button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    transition: all 0.1s ease-in-out;
    backdrop-filter: blur(15px);
}

.nav-item button:hover {
    color: #ffffff;
    background: rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
}


.card {
    width: 100%;
    max-width: 400px;
    max-height: 190px;
}


.card-body {
    color: #000000;
    cursor: cell;
}

.card-body a {
    background-color: rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
    color: #000000;
    cursor: cell;
}

.tab-content {
    padding-top: 60px;
}


.card-body a:hover {
    background-color: rgba(245, 18, 18, 0.842);
    color: #fff;
}


.figure .fas {
    color: #000000;
}



.cta a {
    color: #000000;
}


.card:hover {
    transform: scale(0.98);
}


/* BUTTONS */

.learn-more {
    padding: 5px 15px;
    border: 1px solid #000000;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    backdrop-filter: blur(10px);

}


/* .learn-more::before {
    content: '';
    width: 0;
    height: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #ffffff;
    transition: .5s ease;
    display: block;
    z-index: -1;
    
} */

.learn-more a {
    transition: all 0.2s ease-in-out;
}


.learn-more a:hover {
    color: rgba(245, 18, 18, 0.842);
    font-weight: bold;
}




.projects-flex,
.container-sm {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}


.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta .fas {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover .fas {
    transform: translateX(0);
}

.cta:active .fas {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.figure-caption {
    color: rgba(245, 18, 18, 0.842);
    font-weight: bolder;

}

/*PROJECT SECTION ENDS HERE */




/* CONTACT FORM */

#contact-section {
    max-width:1132px;
    width: 98%;
}

.contact-content {
    margin: 0px 0 50px 0;
    max-height: auto;
}


.contact-form {
    background-image: url("/img/pexels-la-miko-3616773.jpg");
    background-position: bottom;
    background-size: cover;
    width: 100%;
    border-radius: 3rem;
    margin: auto;
    padding: 50px 0;
}

#contact-section h2 {
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}


::placeholder {
    color: #fff;
}



.form-left,
.form-right {
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding-top: 25px;
}

.form-control:focus {
    border-color: rgba(245, 18, 18, 0.842);
    box-shadow: 0 0 0 0.1rem rgba(245, 18, 18, 0.842);
}




textarea {
    resize: none;
}

textarea:focus {
    color: rgba(245, 18, 18, 0.842);
}

#btn-form {
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    border: thin solid rgba(245, 18, 18, 0.842);
    color: #000000;
}

#btn-form:hover {
    color: rgba(245, 18, 18, 0.842);
    background: rgba(255, 255, 255, 0.842);
    box-shadow: 0 0 5px rgba(245, 18, 18, 0.842), 0 0 25px rgba(245, 18, 18, 0.842), 0 0 50px rgba(245, 18, 18, 0.842), 0 0 100px rgba(245, 18, 18, 0.842);
    transform: scale(0.98);

}

.alert {
    z-index: -1;
    transition: all 0.2s ease-in-out;
    width: 100%;
    max-width: 340px;
    height: auto;
    margin: auto;
    text-align: center;
}



/* FOOTER SECTION */


.footer {
    width: 100%;
    text-align: center;
    background-color: #1a191d;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
    width: 100%;
    max-width: auto;
    margin: auto;
    display: flex;
    align-items: center;

}


.footer a {
    color: rgb(255, 255, 255);
}

.footer a:hover {
    color: rgba(245, 18, 18, 0.842);
}




/* FOOTER ENDS HERE */



/* BUTTON SECTION  */

.contact-form button {

    font-family: inherit;
    font-size: 16px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.contact-form button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.contact-form button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.contact-form button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.contact-form button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.contact-form button:hover span {
    transform: translateX(12em);
}

.contact-form button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}




/* KEYFRAMES FOR SCROLLING AND HOVER EFFECT */

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}



@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translatey(100px);
    }

    80% {
        transform: translatey(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}



@media screen and (max-width:840px) {
    .skills-flex hr {
        display: none;
    }

    .skills-flex {
        padding-top: 25px;
    }

    .skills-flex h3 {
        font-size: 20px;
        font-weight: 600;
        color: rgba(245, 18, 18, 0.842);
    }
}


@media screen and (max-width:768px) {
    .skills-flex {
        text-align: center;
        gap: 20px;


    }
}