@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background: url("/img/pexels-junior-teixeira-2047905.jpg");
    height: auto;
}



/* NAVIGATION SECTION */

.navbar {
    background-color: #1a191d;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
    width: 100%;
    max-width: auto;
    margin: auto;
}

.learn-more {
    margin-top: 50px;
}

.button-text a {
    color: #000000;
}


.navbar.active {
    position: fixed;
    top: -120px;
}

.navbar-toggler {
    transition: all 0.2s ease-in-out;
}

.navbar-toggler .fas {
    color: rgb(255, 255, 255);

}

.navbar-brand {
    transition: all 0.2s ease-in-out;
}


.navbar a,
.nav-item a {
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}


.navbar a:hover,
.navbar.active .nav-link:hover {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(245, 18, 18, 0.842), 0 0 25px rgba(245, 18, 18, 0.842), 0 0 50px rgba(245, 18, 18, 0.842), 0 0 200px rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
}

.navbar.active a {
    color: rgba(255, 255, 255, 0.842);
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-link a {
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.563rem;
    color: #ffffff;
    display: block;
    transition: all 0.2s ease-in-out;
}

.sidenav a:hover {
    color: rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
    font-weight: 600;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.25rem;
    margin-left: 50px;
}


.fa,
.fab {
    font-size: 1.25rem;
}

.text-white {
    margin-top: 100px;
}

/* NAVIGATION SECTION ENDS HERE */


/* Header content */



.btn {
    color: rgb(0, 0, 0);
    backdrop-filter: blur(15px);
    margin-top: 20px;
    transition: all 0.1s ease-in-out;
    border-width: 4px;
}


.btn:hover {
    background: #fff;
    box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 40px #fff;
    color: #000000;
    border-color: rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
    text-decoration: line-through;
}

.arrow {
    text-align: center;
    margin: 12% 0;
}

.bounce-link {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(255, 255, 255);
}

.bounce-link:hover {
    color: rgb(255, 255, 255);
    transform: scale(0.98);
}

.arrow .fas {
    color: #ffffff;
    font-size: 2.5rem;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}


.fas {
    color: #ffffff;
}

.arrow-top .fas {
    position: fixed;
    display: inline-block;
    color: #fff;
    font-size: 0.938rem;
    backdrop-filter: blur(15px);
    padding: 10px;
    text-align: center;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 50%;
}

.arrow-top .fas:hover {
    color: #000000;
    background-color: #ffffff;
}


.arrow-top.pageUp .fas {
    animation-duration: 1s;
    animation-name: moveInRight;
    transition: all 0.2s ease-in-out;
}

/* .navbar, */




/* SKILLS SECTION */


#skills-section {
    margin: 250px 0 250px 0;
    border-radius: 50px;
    height: auto;
    margin: auto;
    background: url('/img/pexels-la-miko-3616773.jpg');
    background-position: center;
    background-size: cover;
}

.skills h2 {
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* align-items: center; */
    font-size: 0.938rem;
    font-weight: 600;
    backdrop-filter: blur(2px);
}

.list-group-item {
    background-color: transparent;
    border: thin solid transparent;
}


li {
    list-style-type: none;
}

.skills-list {
    width: 100%;
    height: auto;

}

.skills-list li::before {
    content: "\2022 ";
    color: rgba(245, 18, 18, 0.842);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/* SKILLS SECTION ENDS HERE */




/* SERVICES SECTION */

.services {
    margin: 250px 0 250px 0;
    padding-top: 50px;
    position: relative;
    max-height: auto;
}

.services h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}

.container-services {
    max-height: auto;
    text-align: center;
    padding-top: 50px;
}

.container-services .row {
    display: flex;
    gap: 10px;
}

.container-services .fas {
    color: rgba(245, 18, 18, 0.842);
    font-size: 1.125rem;
}

.col-md {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(78, 78, 78, 0.151);
    transition: all 0.1s ease-in-out;
    cursor: cell;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 15px;
}

.col-md h4 {
    margin-top: 10px;
}

.col-md h6 {
    font-size: 0.875rem;
}

.col-md:hover {
    transform: scale(0.96);
}


/* SERVICES SECTION ENDS HERE */





.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
}

@media (max-width: 575px) {

    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}

/* To change the amount of columns on larger devices, uncomment the code below */

/* @media (min-width: 768px) and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
} */


/* PROJECT SECTION */

/* Within style tags in your html file */

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.projects {
    margin: 250px 0 250px 0;
    text-align: center;
}

.grid {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}


.project-title h2 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;

}

.project-menu {
    padding-top: 50px;
    color: rgb(255, 255, 255);
    position: relative;
}

.col-md-4 {
    margin-top: 2rem;
}


.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-item button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    transition: all 0.1s ease-in-out;
    backdrop-filter: blur(15px);
}

.nav-item button:hover {
    color: #ffffff;
    background: rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
}


.card {
    width: 100%;
    max-width: 400px;
    max-height: 190px;
}


.card-body {
    color: #ffffff;
    cursor: cell;
}

.card-body a {
    background-color: rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
    color: #fff;
    cursor: cell;
}

.tab-content {
    padding-top: 60px;
}


.card-body a:hover {
    background-color: rgba(245, 18, 18, 0.842);
    color: #fff;
}


.figure .fas {
    color: rgb(255, 255, 255);
}



.cta a {
    color: #fff;
}


.card:hover {
    transform: scale(0.98);
}


/* BUTTONS */

.learn-more {
    padding: 5px 15px;
    border: 1px solid rgba(245, 18, 18, 0.842);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #ffffff;
    backdrop-filter: blur(10px);
}


.learn-more::before {
    content: '';
    width: 0;
    height: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #ffffff;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.learn-more:hover::before {
    width: 105%;
}

.learn-more:hover {
    color: #111;
}



.projects-flex,
.container-sm {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}


.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta .fas {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover .fas {
    transform: translateX(0);
}

.cta:active .fas {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*PROJECT SECTION ENDS HERE */




/* CONTACT FORM */
.contact-content {
    margin: 250px 0 250px 0;
    max-height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.contact-form {
    background-image: url("/img/pexels-la-miko-3616773.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 50px 0;
}

#contact-section h2 {
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}





::placeholder {
    color: #fff;
}



.form-left,
.form-right {
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding-top: 25px;
}

.form-control:focus {
    border-color: rgba(245, 18, 18, 0.842);
    box-shadow: 0 0 0 0.1rem rgba(245, 18, 18, 0.842);
}




textarea {
    resize: none;
}

textarea:focus {
    color: rgba(245, 18, 18, 0.842);
}

#btn-form {
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    border: thin solid rgba(245, 18, 18, 0.842);
    color: #000000;
}

#btn-form:hover {
    color: rgba(245, 18, 18, 0.842);
    background: rgba(255, 255, 255, 0.842);
    box-shadow: 0 0 5px rgba(245, 18, 18, 0.842), 0 0 25px rgba(245, 18, 18, 0.842), 0 0 50px rgba(245, 18, 18, 0.842), 0 0 100px rgba(245, 18, 18, 0.842);
    transform: scale(0.98);

}

.alert {
    z-index: -1;
    transition: all 0.2s ease-in-out;
    width: 100%;
    max-width: 340px;
    height: auto;
    margin: auto;
    text-align: center;
}



/* FOOTER SECTION */


.footer {

    width: 100%;
    text-align: center;
    background-color: #1a191d;
    background-color: #1a191d;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
    width: 100%;
    max-width: auto;
    margin: auto;
    display: flex;
    align-items: center;

}


.footer a {
    color: rgb(255, 255, 255);
}

.footer a:hover {
    color: rgba(245, 18, 18, 0.842);
}




/* FOOTER ENDS HERE */



/* BUTTON SECTION  */

.contact-form button {

    font-family: inherit;
    font-size: 16px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.contact-form button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.contact-form button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.contact-form button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.contact-form button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.contact-form button:hover span {
    transform: translateX(12em);
}

.contact-form button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}




/* KEYFRAMES FOR SCROLLING AND HOVER EFFECT */

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}



@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translatey(100px);
    }

    80% {
        transform: translatey(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}



