@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("/img/pexels-nao-triponez-129208.jpg");
    background-repeat: no-repeat;
    background-position:inherit;
    background-size:cover;
    /* background-color: rgba(15, 15, 15, 0.767);  
    backdrop-filter: blur(4px); */
    font-family: 'IBM Plex Mono', monospace;
    /* position: relative; */
}

.navbar {
    /* box-shadow: none; */
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.7s ease-in-out;
    padding-top: 25px;
    padding-bottom: 25px;
   
}

.navbar-brand {
    transition: all 0.7s ease-in-out;
}

.navbar a {
    color: #000000;
}

.navbar a:hover,
.navbar.active a:hover {
    color: rgba(245, 18, 18, 0.842);
    
}

.navbar.active {
    background-color:#000000;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.navbar.active a {
    color: #fff;
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}



.fa,
.fab {
   font-size: 20px;
}

.container {
    color: #ffffff;
    padding-top: 200px;
    width: 100%;
}
    
    
.desc {
    color: #ffffff;
    width: 100%;
    max-width: 550px;
  

}


.desc p {
    padding-top: 15px;
    line-height: 30px;
    font-size: 1.1rem;
}

.desc a {
    color: rgba(245, 18, 18, 0.842);
    font-weight: 600;
}

.desc a:hover {
     text-decoration: underline;
     color: #000000;
     

}

.project-btn {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#resume {
    border-color:  rgba(245, 18, 18, 0.842);
    color: rgba(245, 18, 18, 0.842);
}

#resume:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: #000000;
}

.btn {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: all 0.4s ease-in-out;
    border-width: 4px;
}

.btn:hover {
    background-color: #fff;
    color: #000000;
    border-color: rgba(245, 18, 18, 0.842);
}

.arrow {
    text-align: center;
    margin: 12% 0;
}


.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

.arrow .fas {
    color: #ffffff;
    font-size: 40px;
}    

.fas {
    color: #000000;
    
}

.arrow-top .fas {
    position:fixed;
    display: inline-block;
    color: #fff;
    font-size: 40px;
    background-color: rgba(253, 226, 226, 0.15); 
    border-radius: 6px; 
    backdrop-filter: blur(1px);
    padding: 12px 12px;
    text-align: center;
    bottom: 30px;
    right: 30px;
    /* transition: all 0.4s ease-in-out; */
    
    
}

/* .arrow-top .fas {
    
} */

.arrow-top.pageUp .fas {
    animation-duration: 4s;
    animation-name: moveInRight;
    transition: all 0.4s ease-in-out;
    
    
}


   

.content {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content img {
    width: 260px;
    margin-top: 50px;
    border-radius: 30px;
}

.skills {
    padding-top: 150px;
    z-index: -1;
}
    
    
    

.skills h1 {
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}
    
    

.skills-links {
    
    border-radius: 6px;
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: rgba(253, 226, 226, 0.15);  
    backdrop-filter: blur(1px);
    margin-top: 60px;
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

.services {
    padding-top: 170px;
    
   
    
    
}

.services h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
    z-index: -1;
}



.services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin:  auto;
    color: rgb(255, 255, 255);
    text-align: center;
}

.email, .web {
    width: 100%;
    max-width: 575px;
    margin-top: 60px;
    border-radius: 6px;
    background-color: rgba(253, 226, 226, 0.15);  
    backdrop-filter: blur(1px);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.email:hover,
.web:hover {
    transform: scale(1.05);
}
    
.service-title.move,
.skills.move
 {
    animation-duration: 4s;
    position: relative;
    animation-name: movedown;
}    

.email.scroll,
.card.hover {
    animation-name: moveInleft;
    animation-duration: 4s;
    /* display: none; */
    position: relative;
    
}

.web.scroll {
    animation-name: moveInRight;
    animation-duration: 4s; 
    /* display: none; */
    position: relative;
    
}

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translatey(100px);
    }

    80% {
        transform: translatey(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.projects {
    padding-top: 200px;
    text-align: center;
}

.project-title h1 {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}

.project-menu {
    padding-top: 50px;
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-item button {
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
    border-radius: 6px;
    
}

.nav-item button:hover {
    background-color: #fff;
    color: #000000;
    border-color: rgba(245, 18, 18, 0.842);
    
}


.card{
    background-color: rgba(253, 226, 226, 0.15);  
    backdrop-filter: blur(1px);
    width: 26rem !important;
}

.card-body {
    color: #ffffff;
}

.card-body a {
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}

.tab-content {
    padding-top: 60px;
}

.card-body a:hover {
    background-color: rgba(245, 18, 18, 0.842);
    
    color: #fff;
}
.card {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.06);
    border-radius: 6px;
    opacity: 0.6;
    
}

.footer {
    margin-top: 120px;
    background: #000000;
    width: 100%;
    max-width: 1920px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer a {
    
    color: #fff;
}

.copyright {
    padding-top: 50px;
    color: #fff;
}
    



    
    
   

