@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: url("/img/pexels-junior-teixeira-2047905.jpg");
    height: 100vh;
}



/* NAVIGATION SECTION */
 
.navbar {
    background-color: #1a191d;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
    width: 100%;
    margin: auto;
}

.navbar.active {
    position: fixed;
    top: -120px;
}

.navbar-toggler .fas {
    color: rgb(255, 255, 255);
}

.navbar-brand {
    transition: all 0.2s ease-in-out;
}

.navbar a ,
.nav-item a{
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}


.navbar a:hover,
.navbar.active .nav-link:hover {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(245, 18, 18, 0.842), 0 0 25px rgba(245, 18, 18, 0.842), 0 0 50px rgba(245, 18, 18, 0.842), 0 0 200px rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
}

.navbar.active a {
    color: rgba(255, 255, 255, 0.842);
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-link a{
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: all 0.2s ease-in-out;
}

.sidenav a:hover {
    color: rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
    font-weight: 600;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.fa,
.fab {
    font-size: 20px;
}

/* NAVIGATION SECTION ENDS HERE */


/* Header content */


.btn {
    color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    border-width: 4px;
}


.btn:hover {
    background: #fff;
    box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 40px #fff;
    color: #000000;
    border-color: rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
    text-decoration: line-through;
}

.arrow {
    text-align: center;
    margin: 12% 0;
}

.bounce-link {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(255, 255, 255);
}

.bounce-link:hover {
    color: rgb(255, 255, 255);
    transform: scale(0.98);
}

.arrow .fas {
    color: #ffffff;
    font-size: 40px;
}

.bounce {
    -moz-animation: bounce 1s infinite;
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1.5s infinite;
}


.fas {
    color: #ffffff;
}

.arrow-top .fas {
    position: fixed;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    background-color: #202327;
    backdrop-filter: blur(15px);
    padding: 23px;
    text-align: center;
    bottom: 50px;
    right: 10px;
    z-index: 1;

}

.arrow-top .fas:hover {
    
    color: #ffffff;
    background-color: #202327;

}


/* .navbar, */
.desc,
.project-btn {
    animation-duration: 1s;
    animation-name: movedown;
    transition: all 0.2s ease-in-out;
}

.arrow-top.pageUp .fas {
    animation-duration: 2s;
    animation-name: moveInRight;
    transition: all 0.2s ease-in-out;
}

/*CONTAINER SECTION ENDS HERE */


/* SKILLS SECTION */


.container-xxl {
    margin-top: 150px;
    border-radius: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
    background: url('/img/pexels-la-miko-3616773.jpg');
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

    
.skills h1 {
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}
    
.grid {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}


li {
    list-style-type: none;
}

.skills-list li::before {
content: "\2022 ";  
  color: rgba(245, 18, 18, 0.842) ;
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}


/* SKILLS SECTION ENDS HERE */




/* SERVICES SECTION */

.services {
    padding-top: 170px;
    padding-bottom: 170px;
    position: relative;
    height: 100vh;
}

.services h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    padding-top: 50px;
    height: 100vh;
}


.col-md{
    color: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    transition: all 0.1s ease-in-out;
    cursor: cell;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.col-md:hover {
    transform: scale(0.96);
}

.service-title.move,
.skills.move,
.landing.scroll {
    animation-duration: 1s;
    position: relative;
    animation-name: movedown;
}

.email.scroll,
.card.hover {
    animation-name: moveInleft;
    animation-duration: 1s;
    position: relative;

}

.web.scroll {
    animation-name: moveInRight;
    animation-duration: 1s;
    position: relative;

}

/* SERVICES SECTION ENDS HERE */


/* PROJECT SECTION */

.projects {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

}

.grid {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    gap: 50px;
}


.project-title h1 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}

.project-menu {
    padding-top: 50px;
    color: rgb(255, 255, 255);
    position: relative;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-item button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    backdrop-filter: blur(15px);
    

}

.nav-item button:hover {

    color: #000000;
    background: rgba(245, 18, 18, 0.842);
    box-shadow: 0 0 5px rgba(245, 18, 18, 0.842), 0 0 25px rgba(245, 18, 18, 0.842), 0 0 50px rgba(245, 18, 18, 0.842), 0 0 100px rgba(245, 18, 18, 0.842);
    transform: scale(0.98);
    text-decoration: line-through;
}


.card {
    background-color: rgba(253, 226, 226, 0.15);
    backdrop-filter: blur(10px);
    width: 22rem !important;
    
}


.card-body {
    color: #ffffff;
    cursor: cell;

}

.card-body a {
    background-color: rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
    color: #fff;
    cursor: cell;
}

.tab-content {
    padding-top: 60px;
}


.card-body a:hover {
    background-color: rgba(245, 18, 18, 0.842);
    color: #fff;
}


.card-body .fas {
    color: #fff;
}


.card {
    transition: all 0.2s ease-in-out;
    cursor:cell;
}

.card:hover {
    transform: scale(0.98);
}


/*PROJECT SECTION ENDS HERE */


/* CONTACT FORM */



form {
    border-radius: 10px;
    background-color: #1a191d;
    border: thin solid #1a191d;
    
    
}

::placeholder {
    color: #fff;
}


.container-md {
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.form-title {
    text-align: center;
}

.contact-form {
    background-image:linear-gradient(to bottom, rgba(224, 224, 224, 0.52), rgba(199, 199, 199, 0.73)),url("/img/pexels-la-miko-3616773.jpg");
    /* background-color: ; */
    background-position: center;
    background-size: contain;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:initial; */
    padding-bottom: 150px;
    
}

.form-left,
.form-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.form-control {
    width: 600px;
    background-color: transparent;
}

.form-control:focus {
    border-color: rgba(245, 18, 18, 0.842);
    box-shadow: 0 0 0 0.1rem rgba(245, 18, 18, 0.842);
}


.container-md h1 {
    letter-spacing: 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
    padding-top: 125px;
    padding-bottom: 125px;
}

textarea {
    resize: none;
}

textarea:focus {
    color: rgba(245, 18, 18, 0.842);
}

#btn-form {
    width: 200px;
    float: right;
    background-color: transparent;
    border: thin solid rgba(245, 18, 18, 0.842);
    color: #000000;
}

#btn-form:hover {
    color: rgba(245, 18, 18, 0.842);
    background: rgba(255, 255, 255, 0.842);
    box-shadow: 0 0 5px rgba(245, 18, 18, 0.842), 0 0 25px rgba(245, 18, 18, 0.842), 0 0 50px rgba(245, 18, 18, 0.842), 0 0 100px rgba(245, 18, 18, 0.842);
    transform: scale(0.98);

}

.alert-success,
.alert-danger {
    display: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}



/* FOOTER SECTION */


.footer {
    margin-top: 300px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1a191d;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.footer-social a {
    background-color: #202327 ;
    padding: 20px;
}


#foot-navbar {
    display: flex;
    flex-direction: row;
}


.footer a {
    color: rgb(255, 255, 255);
}

.footer a:hover {
    color: rgba(245, 18, 18, 0.842);
}


.copyright {
    padding-top: 50px;
    color: rgb(255, 255, 255);
}

/* FOOTER ENDS HERE */


/* KEYFRAMES FOR SCROLLING AND HOVER EFFECT */

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}



@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translatey(100px);
    }

    80% {
        transform: translatey(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}



/* MEDIA QUERY  */




@media (max-width: 1400px) {


    .navbar {
        width: 100%;
    }

    

    .grid {
        
        width: 100%;
        max-width: 1000px;
        margin: auto;
        padding-bottom: 35px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        /* gap: 25px; */
    }


        
       
    




    .footer {
        width: 100%;
    }

    .services-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: flex-start;
        gap: 35px;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    .tab-pane .grid {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {


    .navbar {
        width: 100%;

    }

    
    .footer {
        width: 100%;

    }



    .services-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: flex-start;
        gap: 35px;
        width: 100%;
        max-width: 800px;
        margin: auto;
        color: rgb(0, 0, 0);
        text-align: center;
    }
}

@media (max-width: 825px) {



    .navbar {
        width: 100%;

    }

    .footer {
        width: 100%;

    }

    .services-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 25px;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    .email,
    .web,
    .landing {
        width: 100%;
        max-width: 375px;
        margin: auto;
        margin-top: 60px;
        border-radius: 6px;
        background-color: rgba(253, 226, 226, 0.15);
        backdrop-filter: blur(15px);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

    }

    .form-container {
        width: 100%;
        max-width: 624px;
        margin: auto;
        height: 600px;
        border-radius: 50px;
        margin: 150px auto;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .form-control {
        width: 375px;
        background-color: transparent;
    }

    .contact-form {
    
        display: flex;
        flex-direction: column ;
        align-items: center;
    }

  

.alert-success,
.alert-danger {
    display: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
}

@media(max-width: 650px) {
    .navbar {
        width: 100%;

    }

    .footer {
        width: 100%;

    }

    .copyright {
        width: 100%;
        max-width: 600px;
        margin: auto;
        font-size: 14px;

    }
}

@media (max-width: 622px) {

    .navbar,
    .footer {
        width: 100%;

    }

    .grid .g-col-4 {
        width: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 25px;

    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

}

@media(max-width: 574px) {

    .navbar,
    .footer {
        width: 100%;

    }

   

    .project-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    .copyright {
        width: 100%;
        max-width: 600px;
        margin: auto;
        font-size: 12px;

    }
}



@media (max-width: 522px) {

    .navbar,
    .footer {
        width: 100%;

    }

    .grid .g-col-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    


   

    .project-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    
    

}

@media (max-width: 480px) {

    .navbar,
    .footer {
        width: 100%;

    }

    .grid .g-col-4 {
        display: flex;
        flex-direction: row;
        padding-top: 25px;
    }

    


    .project-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    .desc {
        text-align: center;
    }

    



}

@media (min-width: 375px) and (max-width: 414px) {

    .navbar,
    .footer {
        width: 100%;

    }

    .grid .g-col-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 25px;
    }

    

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 45px;
        margin-top: 20px;
    }

    .g-col-4 img {
        width: 76px;

    }

    .g-col-4 {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .project-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    .desc {
        text-align: center;
    }

}

/* @media (max-width: 375px) {

    .navbar,
    .footer {
        width: 100%;

    }

    .grid .g-col-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 25px;
    }

    .g-col-4 img {
        width: 76px;
    }

    .g-col-4 {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
   

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 45px;
        margin-top: 20px;
    }

    .project-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    .desc {
        text-align: center;
    }

    .form-container {
        width: 100%;
        max-width: 325px;
        margin: auto;
        height: 700px;
        border-radius: 50px;
        margin: 150px auto;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .form-control {
        width: 325px;
        background-color: transparent;
    }

    .contact-form {
    
        display: flex;
        flex-direction: column ;
        align-items: center;
    }

  

.alert-success,
.alert-danger {
    display: none;
    transition: all 0.4s ease-in-out;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

} */