@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("/img/pexels-cottonbro-5083217.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(15, 15, 15, 0.767);  
    backdrop-filter: blur(4px); */
    font-family: 'Encode Sans', sans-serif;
    position: relative;
}

.navbar {
    /* box-shadow: none; */
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.7s ease-in-out;
    padding-top: 25px;
    padding-bottom: 25px;
   
}

.navbar a {
    color: #000000;
}

.navbar.active {
    background-color:#000000;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.navbar.active a {
    color: #fff;
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}



.fa,
.fab {
   font-size: 20px;
}

.container {
    color: #ffffff;
    padding-top: 200px;
    /* text-align: center; */
    /* border: thin solid red; */
    /* margin: auto; */
    width: 100%;
    /* max-width: 450px; */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; */
    
}
    


.desc {
    /* text-align: center; */
    color: #000000;
    width: 100%;
    max-width: 550px;
    /* margin: 0 auto; */
}

.desc h1, 
.skills h1,
.services h1 {
    font-weight: 600;
    font-size: 48px;
}

.desc p {
    padding-top: 15px;
    line-height: 30px;
    font-size: 1.1rem;
}

.desc a {
    text-decoration: underline;
    color: rgba(245, 18, 18, 0.842) ;
}

.project-btn {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#resume {
    border-color:  rgba(245, 18, 18, 0.842);
    color: rgba(245, 18, 18, 0.842);
}

#resume:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: #000000;
}

.btn {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: all 0.4s ease-in-out;
    border-width: 4px;
}

.btn:hover {
    background-color: #fff;
    color: #000000;
    border-color: rgba(245, 18, 18, 0.842);
}

.arrow {
    text-align: center;
    margin: 12% 0;
}


.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

.arrow .fas {
    color: #000000;
    font-size: 40px;
}    

.fas {
    color: #000000;
    
   
}



.content {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content img {
    width: 260px;
    margin-top: 50px;
    border-radius: 30px;
}

.skills {
    padding-top: 60px;
}
    
    
    

.skills h1 {
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
    border-radius: 6px;
    width: 100%;
    max-width: 250px;
    margin: auto;
}

/* .skills.active {
    transition: all 0.8s ease-in-out; 
    margin-left: -1300px;
} */
.skills-links {
    
    border-radius: 6px;
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: rgba(253, 226, 226, 0.15);  
    backdrop-filter: blur(1px);
    
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

.services {
    padding-top: 200px;
   
    
    
}

.services h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(245, 18, 18, 0.842);
    text-underline-offset: 12px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin:  auto;
    color: rgb(0, 0, 0);
    text-align: center;
    /* transform: translate(-50%, -50%); */
    
}
    
    
    

.email, .web {
    width: 100%;
    max-width: 575px;
    
    /* height: 30vh; */
    margin-top: 60px;
    border-radius: 6px;
    background-color: rgba(253, 226, 226, 0.15);  
    backdrop-filter: blur(1px);
    
    
}

.email.active {
    animation-name: moveInleft;
    animation-duration: 2s;
    display: none;
    
}

.web.active {
    animation-name: moveInRight;
    animation-duration: 2s; 
    display: none;
    
}

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }

}


    
    
   

